.txt_c { text-align: center; }
.swiper-button-next { color: #fff; }
.swiper-button-prev { color: #fff; }
.swiper-pagination { color: #fff; }


/* main */
#main section { margin: 150px 0; }
#main_banner .swiper-button-prev { position: absolute; left: 3%; top: 50%; }
#main_banner .swiper-button-next { position: absolute; right: 3%; top: 50%; }

#main_banner .swiper-pagination-bullet {
    width: 12px; height: 12px;
    background: #fff; border: 2px solid #999; 
    opacity: 1; }
    
 #main_banner .swiper-pagination-bullet-active {
    background: #000; border: 2px solid #999; 
}


#main_banner { margin: 0 !important; position: relative; }  /* 공백 후 !important 최우선순위 */
#main_banner .swiper { height: 720px; width: 100%; }
#main_banner .swiper .swiper-slide { display: flex; align-items: center; }

#main_banner .swiper .mb1 { background: url(../images/main/mb1_bg.png) no-repeat 0 100px; background-size: cover; }
#main_banner .swiper .mb1 .mb_logo { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
#main_banner .swiper .mb1 .mb_logo img { width: 100%; }
#main_banner .swiper .mb1 .mb_sbtxt { font-size: 5rem; color: #fff; font-weight: 700; }


#main_banner .swiper .mb2 { background: url(../images/main/mb2_bg.png) no-repeat 0 100px; background-size: cover; }

#main_banner .swiper .mb2 .mb_logo { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
#main_banner .swiper .mb2 .mb_logo img { width: 100%; }
#main_banner .swiper .mb2 p { font-size: 2rem; font-weight: 700; color: #fff;  position: absolute;  width: 700px; left: 50%; bottom: -170%; transform: translate(-50%,0);}




/* 769px ~ 1200px */
@media (max-width : 1200px) {
    #main_banner .swiper .mb1 .mb_sbtxt { font-size: 4rem; }
    #main_banner .swiper .mb1 .mb_logo img { width: 80%; }

    #main_banner .swiper .mb2 p { font-size: 1.6rem; }
    #main_banner .swiper .mb2 .mb_logo img { width: 80%; }
}
/* 0~768px */
@media (max-width : 768px) {
    #main_banner .swiper .mb1 .mb_sbtxt { font-size: 3rem; }
    #main_banner .swiper .mb2 p { font-size: 1.4rem; }


}


/* newprd */
#newprd h2 { font-size: 5rem; padding-bottom: 30px; position: relative; }
#newprd ul { position: relative; display: flex; justify-content: center; gap: 15px; padding-bottom: 20px; margin-bottom: 60px; }
#newprd ul::after { position: absolute; left: calc(50% - 200px); bottom: 0; content: ""; display: block; width: 400px; height: 1px; background: #000; }
#newprd ul > li > a { transition: color 0.5s; font-weight: 600; color: #999; font-size: 1.6rem; }

#newprd ul > li > a:hover { color: #000; }


#newprd .newprd_wrap { display: flex; justify-content: center;}
#newprd .inner {  margin: 0 auto; }
#newprd .newprd_img { display: flex; gap: 20px; }
#newprd .newprd_img > img:first-child { width: 475px; height: 665px;  }
#newprd .newprd_right { width: 470px; height: 665px;  }
#newprd .newprd_right img { width: 225px; height: 315px; }
#newprd .newprd_img img:nth-child(1) { margin-bottom : 35px; } 
#newprd .newprd_img img:nth-child(2) { margin-bottom : 35px; }


#newprd .newprd_guide { display: flex; flex-direction: column; justify-content: center; gap: 10px; margin-left: 100px; }
#newprd .newprd_guide h3 { font-size: 3rem; }
#newprd .newprd_guide > p:nth-of-type(1) {  font-size: 1rem; }
#newprd .newprd_guide > p:nth-of-type(2) { font-size: 2.4rem; font-weight: 700; }
#newprd .newprd_guide > p:nth-of-type(3) { margin: 0 20px; display: flex; float: left; font-weight: 600; font-size: 1rem; }
#newprd .newprd_color { margin: 0 20px; display: inline-block; width: 34px; height: 34px; border: 3px solid #000; border-radius: 50%; overflow: hidden; }
#newprd .newprd_color span { display: inline-block; width: 28px; height: 28px; background: #5E2E0B; border-radius: 50%; border: 3px solid #fff; }

#newprd .newprd_guide .newprd_size { display: flex; justify-content: space-between;  border-top: 1px solid #000; }
#newprd .newprd_guide .newprd_size p { font-weight: 700; font-size: 2rem; text-align: center; padding: 20px 30px 0;}

#newprd .newprd_sizetb { padding-top: 40px; display: flex; justify-content: center; }
#newprd .newprd_sizetb p { font-size: 1.2rem; }
#newprd .newprd_sizetb .newprd_size_icon img { cursor: pointer; width: 16px; height: 16px; }

#newprd .newprd_service { display: flex; justify-content: center; gap: 15px; padding-top: 25px; font-size: 1rem; font-weight: 600; }


#newprd .newprd_review span{ font-weight: 700; }

#newprd .buy { border: 1px solid #000; padding: 10px 80px; width: 200px; border-radius: 5px; position: relative; cursor: pointer; margin-left: 50px auto; }

#newprd .buy_link { background: url(../images/main/buy_link.png)no-repeat 0 center; width: 12px; height: 12px; position: absolute; left: 60%; top: 50%; transform: translate(0,-50%); }

#newprd .buy_list { display: flex; padding-top: 10px; }

#newprd .heart { padding-left: 10px; }
#newprd .heart img { width: 45px; height: 45px; border: 1px solid rgba(0, 0, 0, 0.5); }

#newprd .basket { padding-left: 10px; }
#newprd .basket img { width: 45px; height: 45px; border: 1px solid rgba(0, 0, 0, 0.5); }


/* 1201px ~ 1600px */
@media (max-width : 1600px) {


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
여기까지 수정@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#newprd .newprd_img > img:first-child { width: 275px; height: 465px;  }
#newprd .newprd_right { width: 270px; height: 465px;  }
#newprd .newprd_right img { width: 125px; height: 215px; }
#newprd .newprd_img img:nth-child(1) { margin-bottom : 35px; } 
#newprd .newprd_img img:nth-child(2) { margin-bottom : 35px; }

}

/* 769px ~ 1200px */
@media (max-width : 1200px) {
    #newprd .newprd_img { position: relative; }
    #newprd .newprd_img > img:first-child { width: 420px; height: 565px; }
    #newprd .newprd_right { width: 470px; height: 665px; position: absolute; left: -25px; top: 600px;}
    #newprd .newprd_right img { width: 100px; height: 100px; }
    #newprd .newprd_guide h3 { font-size: 2.4rem; }
    #newprd .newprd_guide > p:nth-of-type(1) {  font-size: 0.8rem; }
    #newprd .newprd_guide > p:nth-of-type(2) { font-size: 1.8rem;  }
    #newprd .newprd_color { width: 28px; height: 28px; border: 2px solid #000; }
    #newprd .newprd_color span { width: 24px; height: 24px; }
    #newprd .newprd_guide .newprd_size p { font-size: 1.6rem; padding-top: 20px; }

    #newprd h2 { font-size: 3rem; }
    #newprd ul::after { left: calc(50% - 175px); width: 350px; }
    #newprd ul > li > a { font-size: 1.4rem; }
}



/* 581px~768px */
@media (max-width : 768px) {
    #newprd .newprd_guide {  gap: 10px;  margin-left: 50px; width: 300px;}
    #newprd .newprd_img > img:first-child { width: 225px; height: 265px; }
    #newprd .newprd_right { width: 270px; height: 265px; position: absolute; left: -23px; top: 275px; }
    #newprd .newprd_right img { width: 110px; height: 110px;  }
    #newprd .newprd_img img:nth-child(1) { margin-bottom : 10px; } 
    #newprd .newprd_img img:nth-child(2) { margin-bottom : 10px; }
    #newprd .newprd_guide h3 { font-size: 1.8rem; }
    #newprd .newprd_guide > p:nth-of-type(2) { font-size: 1.4rem;  }
    #newprd .newprd_guide > p:nth-of-type(3) { font-size: 0.8rem; }
    #newprd .newprd_color { width: 28px; height: 28px; border: 2px solid #000; }
    #newprd .newprd_color span { width: 24px; height: 24px; }
    #newprd .newprd_guide .newprd_size p { font-size: 1.2rem;  padding: 10px; }
    #newprd h2 { font-size: 3rem; }
    #newprd ul::after { left: calc(50% - 175px); width: 350px; }
    #newprd ul > li > a { font-size: 1.4rem; }
    
    #newprd .heart { display: none; }
    #newprd .basket { display: none; }
}
/* 0~580px */
@media (max-width : 580px) {
    #newprd .newprd_guide {  gap: 10px;  margin-left: 0px; width: 150px; margin-left: 30px; } /* 수정 */
    #newprd .newprd_img > img:first-child { width: 225px; height: 265px; }
    #newprd .newprd_right { width: 270px; height: 265px; position: absolute; left: -23px; top: 275px; }
    #newprd .newprd_right img { width: 110px; height: 110px;  }
    #newprd .newprd_img img:nth-child(1) { margin-bottom : 10px; } 
    #newprd .newprd_img img:nth-child(2) { margin-bottom : 10px; }
    #newprd .newprd_guide h3 { font-size: 1.8rem; }
    #newprd .newprd_guide > p:nth-of-type(2) { font-size: 1.4rem;  }
    #newprd .newprd_guide > p:nth-of-type(3) { font-size: 0.8rem; }
    #newprd .newprd_color { width: 28px; height: 28px; border: 2px solid #000; }
    #newprd .newprd_color span { width: 24px; height: 24px; }
    #newprd .newprd_guide .newprd_size p { font-size: 1.2rem;  padding: 10px; }
    #newprd h2 { font-size: 3rem; }
    #newprd ul::after { left: calc(50% - 175px); width: 350px; }
    #newprd ul > li > a { font-size: 1.4rem; }
    #newprd .newprd_service { margin: 0 auto; }
    #newprd .heart { display: none; }
    #newprd .basket { display: none; }

    #newprd .buy { padding: 10px 20px 10px 10px; margin:0 auto; }
    #newprd .buy a { font-size: 1.4rem; text-align: center; }

    #newprd .buy_link { background: url(../images/main/buy_link.png)no-repeat 0 center; width: 12px; height: 12px; position: absolute; left: 70%; top: 52%; transform: translate(0,-50%); }

    #newprd .buy_list { display: flex; padding-top: 10px; }
}


/* movie */
#movie { background: #000; padding: 100px 0; }
#movie .inner { display: flex; justify-content: center; }
#movie video { width: 900px; height: 500px; padding: 50px 0; }
#movie .collection p { color: #fff; margin-left: 150px; margin-bottom: 10px; }

#movie .collection p:nth-of-type(1) { border: 1px solid #fff; font-size: 3rem; width: 445px; height: 150px; text-align: center; padding: 30px 0; }
#movie .collection p:nth-of-type(2) { border: 1px solid #fff; width: 445px; height: 320px; text-align: left; position: relative; padding: 35px; }
#movie .collection p:nth-of-type(2) > span { position: absolute; right: 35px; bottom: 45px; }

/* 769px ~ 1200px */
@media (max-width : 1200px) {


}

/* bestprd */
#bestprd .swiper-button-prev { position: absolute; left: 3%; top: 40%; }
#bestprd .swiper-button-next { position: absolute; right: 3%; top: 40%; }
#bestprd .swiper-pagination-bullet {
    width: 12px; height: 12px;
    background: #fff; border: 2px solid #999; opacity: 1; }
    
#bestprd .swiper-pagination-bullet-active {
    background: #000; border: 2px solid #999; }

#bestprd h2 { font-size: 5rem; padding-bottom: 30px; position: relative; }
#bestprd .category { position: relative; display: flex; justify-content: center; gap: 15px; padding-bottom: 20px; margin-bottom: 60px; }
#bestprd .category::after { position: absolute; left: calc(50% - 200px); bottom: 0; content: ""; display: block; width: 400px; height: 1px; background: #000; }
#bestprd .category > li > a { transition: color 0.5s; font-weight: 600; color: #999; }

#bestprd .category > li > a:hover { color: #000; }


/* #bestprd .bestprd_slide { display: flex;  gap: 45px; justify-content: center;  } */
#bestprd  img { width: 100%; }
#bestprd  dt { position: relative; }
#bestprd  dt .newprd_logo { position: absolute; left: 0; top: 0; background: #000; color: #fff; padding: 5px 45px; font-size: 2rem; }

#bestprd dl { font-weight: 600; }
#bestprd dd:nth-of-type(1) {  font-size: 2rem; padding-top: 30px; }
#bestprd dd:nth-of-type(2) { font-size: 1rem; }
#bestprd dd:nth-of-type(3) { font-size: 2.4rem; }
#bestprd dd:nth-of-type(4) { font-size: 1.2rem; padding-top: 15px; margin-bottom: 100px; }



/* sub_banner */
#sub_banner .sub_banner_wrap { display: flex; }
#sub_banner .sub_banner_left { background: #192741 url("../images/main/sb_clock.png")no-repeat 90% center; width: 50%; height: 250px; display: flex; justify-content: center; flex-direction: column; }
#sub_banner .sub_banner_left p:first-child { color: #dc8b9a; font-weight: 700; font-size: 5rem; }
#sub_banner .sub_banner_left p:nth-child(2) { color: #fff; font-weight: 600; font-size: 3rem; }

#sub_banner .sub_banner_right { background: #dc8b9a url("../images/main/sb_deal.png")no-repeat 90% center; width: 50%; height: 250px; display: flex; justify-content: center; flex-direction: column; }
#sub_banner .sub_banner_right p:first-child { color: #192741; font-weight: 700; font-size: 5rem; }
#sub_banner .sub_banner_right p:nth-child(2) { color: #fff; font-weight: 600; font-size: 3rem; }



/* event */
#event .swiper-button-prev { position: absolute; left: 1%; top: 30%; }
#event .swiper-button-next { position: absolute; right: 30%; top: 30%; }

#event .swiper-pagination-bullet {
    width: 12px; height: 12px;
    background: #fff; border: 2px solid #999; opacity: 1; }
    
#event .swiper-pagination-bullet-active {
    background: #000; border: 2px solid #999; }
#event .swiper-pagination {  

    bottom: 10px;
    left: -400px;
    width: 100%; }


#event {  display: flex; gap: 80px; margin-left: 200px; }
#event h2 { font-size: 5rem; padding-bottom: 30px; position: relative; text-align: left; padding-left: 130px; }
#event .category { position: relative; display: flex; justify-content: left; gap: 15px; padding-bottom: 20px; margin-bottom: 60px; padding-left: 25px; }
#event .category::after { position: absolute; left: 0; bottom: 0; content: ""; display: block; width: 400px; height: 1px; background: #000; }
#event .category > li > a { transition: color 0.5s; font-weight: 600; color: #999; }
#event .category > li > a:hover { color: #000; }

#event dl dd { font-weight: 600; }
#event dl dd:nth-of-type(1) { padding: 30px 0; }
#event dl dd:nth-of-type(2) { font-size: 1rem; }
#event dl dd:nth-of-type(3) { font-size: 2rem; color: rgba(0, 0, 0, 0.5); }
#event dl dd:nth-of-type(4) {font-size: 2.4rem; color: #f00; padding-bottom: 10px; }
#event dl span { font-weight: 700; }
#event dl dt img { width: 100%; }
#event .event_list { margin-left: 150px; width: 2300px; overflow-x: hidden; }

#event .buy { border: 1px solid #000; padding: 10px 0; width: 100%; border-radius: 5px; position: relative; cursor: pointer; margin-top: 30px; font-size: 1.2rem; margin-bottom: 100px; }

#event .buy_link { background: url(../images/main/buy_link.png)no-repeat 0 center; width: 10px; height: 10px; position: absolute; left: 54%; top: 50%; transform: translate(0,-50%); margin-bottom: 100px; }



/* more */

#more  { padding-bottom: 200px; }
#more h2 { font-size: 5rem; font-weight: 600; padding: 100px 0; border-top: 1px solid #000; }
#more .more_link { display: flex; gap: 80px; justify-content: center; }
#more .more_link img { width: 540px; height: 485px; }

#more .more_link dl { position: relative; filter: brightness(0.3); transition: 2s; }
#more .more_link dl:hover { filter: brightness(1); }
#more .more_link dl dt { font-size: 5rem; font-weight: 600; position: absolute; left: 50%; top: 50%; width: 350px; transform: translate(-50%,-50%); color: #fff; }
#more .more_link dl dt { font-size: 5rem; font-weight: 600; position: absolute; left: 50%; top: 50%; width: 350px; transform: translate(-50%,-50%); color: #fff; }
#more .more_link dl dd { border: 1px solid #fff; color: #fff; padding: 10px 40px;  border-radius: 5px; position: absolute; left: 50%; top: 65%; transform: translate(-50%,-50%); cursor: pointer; margin-top: 30px; font-size: 1.2rem; text-align: center; }

#more .viewall_link { background: url(../images/main/view.png) no-repeat 0 center; width: 10px; height: 10px; position: absolute; left: 56%; top: 71.5%; transform: translate(-50%,-50%);  }


